// TODO make this configurable
.wizard-header {
  color: #17a2b8;
  font-size: 30px;
}

.wizard-sub-header {
  color: #cccccc;
  font-size: 20px;
}

.panel {
  padding: 15px 0 0;
}

.blue-hr {
  background-color: #17a2b8;
}
